/* fonte ubuntu 400 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    
}
.header {
    height: 7vh;
    background: linear-gradient(90.02deg, #8D36FA 0.85%, #A15FF3 35.94%, #A15FF3 99.93%);
    /* background: linear-gradient(90.02deg, rgba(141, 54, 250, 0.88) 0.85%, rgba(161, 95, 243, 0.88) 35.94%, rgba(161, 95, 243, 0.88) 99.93%); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.2%;
    /* fixar header */
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header a{
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 7vh;
    background-color: transparent;
}

.logo h1 {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.menu {
    transform: translateX(-10%);
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.menu ul li {
    margin: 0 1rem;
    border-bottom: 2px solid transparent;
}

.menu ul li:hover {
    border-bottom: 2px solid #fff;
}

.menu ul li a {
    font-size: 1.2rem;
}

.news{
    font-size: 1.3rem;
    transform: translateX(-50%);
}

.main{
    height: 93vh;
    width: 100%;
    position: absolute;
    top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(104.21deg, rgba(141, 54, 250, 0.94) 0.21%, #8D36FA 0.22%, #A15FF3 28.86%, #A15FF3 84.93%, #8653F1 100%);
    /* background: linear-gradient(104.09deg, rgba(141, 54, 250, 0.8272) 4.58%, rgba(161, 95, 243, 0.88) 28.5%, rgba(161, 95, 243, 0.88) 73.71%, rgba(134, 83, 241, 0.88) 96.89%); */
}

.title{
    width:90%;
    margin: auto;
    transform: translateY(-15%);
}

.title h1{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.title p{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.arrowScroll {
    /* fixar em baixo */
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);

    width: 7%;
    height: 7%;
    background-image: url(./img/arrowDown.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    animation: arrowScroll 1s infinite ease-in-out alternate;

    /* inverter cor */
    filter: invert(100%);

  }
  @keyframes arrowScroll {
    0% {
        bottom: 2vh;
    }
    100% {
        bottom: 0;
    }
}


@media screen and (max-width: 850px){
    .menu{
        transform: translateX(0%);
    }

    .title{
        transform: translateY(0%);
    }

    .title h1{
        font-size: 3.5rem;
    }
    
    .title p{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 600px){
    .header{
        padding: 1% 5%;
    }

    .menu{
        display: none;
    }
}

@media screen and (max-width: 350px){
    .header{
        padding: 1% 2%;
    }

    .logo h1{
        margin-left: 0.2rem;
    }

    .title h1{
        font-size: 2.2rem;
    }

    .title p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 275px){
    .logo h1{
        font-size: 0.7rem;
    }

    .news{
        font-size: 0.7rem;
    }

    .title h1{
        font-size: 2rem;
    }
    
    .title p{
       
        font-size: 0.5rem;
    }
    .main{
        height: 150vh;
    }
}

@media screen and (max-height: 416px){
    .title h1{
        font-size: 2.1rem;
    }
    .title p{
        font-size: 1rem;
    }
}